{{define "about"}}
{{template "header" .}}
    <div>
        <h1>About</h1>
        <img src="/static/image/mygopher.png" alt="logo" class="col-lg-2 col-md-3 col-sm-4"/>
        <p>>This is community driven project.</p>
    </div>
{{template "footer"}}
{{end}}